<!-- <p>project-issues works!</p>
<p *ngFor="let issue of issues; index as i">
  <br />
  Nº ISSUE {{ issue.number }}
  <br />
  TITLE {{ issue.title }}
  <br />
  COMMENTS {{ issue.comments }}
  <br />
  CREATED AT {{ issue.created_at }}
  <br />
  UPDATED AT {{ issue.updated_at }}
  <br />
  STATE {{ issue.state }}
  <br />
  NAME: {{ issue.user.login }}
  <br />
  PHOTO: <img style="width: 140px" src="{{ issue.user.avatar_url }}" alt="" />
  <br />

  -------------------------------------------
  <br />
</p> -->

<!-- http://localhost:4200/login/project-issues -->
<div class="div"></div>
<div class="container">
  <h1>Project Issues</h1>
  <mat-accordion *ngFor="let issue of issues" class="header-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="green">{{ issue.state }} </mat-panel-title>
        <mat-panel-description class="description">
          {{ issue.title }}
          <img
            class="icon-profile"
            mat-card-image
            src="{{ issue.user.avatar_url }}"
          />
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
