.green-section {
  background-color: green;
  height: 9em;
}
.white-section {
  background-color: white;
  height: 9em;
  text-align: left;
}
.title {
  font-family: -webkit-body;
  font-size: xx-large;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 21vw;
}
.header-align {
  margin: 20px;
  height: 4em;
}
.header-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.green {
  color: green;
  font-size: medium;
  font-family: cursive;
  text-align: center;
}
.icon-profile {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
