<div class="div"></div>
<div class="container">
  <h1>Project Issues</h1>
  <mat-accordion *ngFor="let issue of issues" class="header-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="green">{{ issue.state }} </mat-panel-title>
        <mat-panel-description class="description">
          {{ issue.title }}
          <img
            class="icon-profile"
            mat-card-image
            src="{{ issue.user.avatar_url }}"
          />
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
