.container {
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.header-align {
  margin: 20px;
  height: 4em;
}

.header-align .mat-expansion-panel-header-title,
.header-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.header-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.header-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.green {
  color: green;
  font-size: medium;
  font-family: cursive;
  text-align: center;
  padding-top: 0.5em;
}

.icon-profile {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.div {
  height: 10em;
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: -webkit-body;
  font-size: xx-large;
  margin-top: 3em;
  margin-left: 3em;
}

